global:
  scrape_interval: 15s
  evaluation_interval: 15s
  external_labels:
    monitor: 'nbgo-monitor'

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'influxdb'
    static_configs:
      - targets: ['influxdb:8086']

  - job_name: 'nbgo-app'
    static_configs:
      - targets: ['nbgo-app:8080']
